<% title "Editing TFL Team" %>

<h1><%= yield(:title) %></h1>

<% form_for(@tfl_team) do |f| %>
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tfl_team %> |
<%= link_to 'Back', tfl_teams_path %>
